# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
<meta charset ="utf-8" />
<title>The ADE Experience</title>
</head>
<body>

<body style="background-color:LightGray;"></body>


<h1 style="color:White;">Welcome</h1>



<p style="color:White;">l Thank You! <hr> 
and WELCOME all, to the Experience!<hr>
Please feel free to reach out & don't forget to inquire about MERCH!</p>
![THEphoto](https://user-images.githubusercontent.com/97244700/156944523-d8d9eb82-a330-4c2f-98ba-b7999480710d.PNG)
