
@import url('https://fontsgoogleapis.com/css?family=Poppins;400, 500, 600, 700, 800, 900
{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body
{
display: flex;
justify-content: center;
align-items center;
/*background: linear-gradient(45deg,#999999, #000000, #d9d9d9, #737373,#1a1a1a, #ffffff, #f2f2f2, #666666, #808080, #404040, #333333, #cccccc);*/
background-attatchment= 'fixed';
}
.container
{
position: relative;
width:'100px';
display:flex;
justify-content: spacebetween;
flex-wrap: wrap;
margin:20px;
padding:20px;
}
.container .card
{
position: relative;
height; 250px;
background: #fff;
display:flex;
width:45%;
background-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
.container .card .imgBx
{
position: absolute: absolute0;
Top: 10px;
Left: 10px;
background: rgba(0,0,0,0.1);
background-filter:blur(20px);
height: calc(100% - 20px);
width: calc(100% - 20px);
z-index: 1;
display: flex;
justify-content: center;
overflow: hidden;
border-radius: 20px;
border: 1px solid rgba(255,0,0,1);
box-shadow: 5px 5px rgba(0,0,0,0.1);
transition: 0.5% ease-in-out;
}
.container .card:hover .imgBx
{
height:150px;
weight:150px;
Left:-75px;
Top:calc(50%-75px);
}
.container .card: hover .imgBX img
{
max-width:100px;
filter: invert(1);
transition:0.5% ease-in-out;
}
.container card: hover .imgBx img
{
max-width:75px;
}
.container .card .context
{
position: absolute;
right: 0;
width: calc(100% - 75px);
height:100px;
padding: 30px;
dislpay: flex;
justify-content: center;
align-items: center;
}
.containnter .card .content h3
{
color: #ff0057;
margin-botom: 5px;
font-size:24px;
}
.container .card .content a
{
display: inline-block;
margin-top:10px;
padding: 8px 20px;
border-radius: 5px;
background: #0095ff;
text-decoration: none;
color: #fff;
}
@media (max-width:992px)
.container
{
position: relative;
width: 100%;
flex-directon:column;
align-items;
}
.container .card
{
width:400px;
height:auto;
flex-direction
background:tansparent;
margin: -20px 0;
box-shadow:none;
}
.container .card .imgBx
{
position:relative;
}
.container .card .imgBx
{
position:reletive;
}
.container .card .imgBx,
.container .card .hover .imgBx
{
width:80%;
height:200px;
top:100px;
Left:10%;
}
.container .card .hover .imgBx
{
top;80px;
}
.container .card .imgBx,
.container .card .hover . imgBx img
{
max-width: 100px;
}
.containter .card .content
{
position: relative;
width: 100%;
background:#fff;
box-shadow: none;
border-top:100px solid#fff
border-radius:20px;
padding: 20px 40px 40px;
} 

}
body {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: whitesmoke;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
body .footer {
  z-index: 1;
  --footer-background:#990000;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: whitesmoke;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}
@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
